.nomster_pagination {
	background: none;
	text-align: center;
	font-size: 14px;
	word-spacing: 4px;
	cursor: default;}
.nomster_pagination a, .nomster_pagination span {
	padding: 0.2em 1.5em;
	display: inline-block;}
.nomster_pagination .disabled {
	color: #aaaaaa;
	border-radius: 0.25em;
	background-color: #363636;}
.nomster_pagination .current {
	font-style: normal;
	font-weight: bold;
	color: #white;
	background-color: #ff5d5c;
	padding: 0.2em 1.5em;
	line-height: 1.5;
	border-radius: 0.25em;
	border-style: solid;
	border-color: #363636;}
.nomster_pagination a {
	text-decoration: none;
	color: white;
  	border-radius: 0.25em;
	background-color: #363636;}
.nomster_pagination a:hover, .nomster_pagination a:focus {
	background: #ff5d5c;
	color: white;}